modules = ["nodejs-20", "web"]
run = "npm run build"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run build"]

[workflows]
runButton = "Start Neural Orchestrator"

[[workflows.workflow]]
name = "Dev Server"
author = 43891218
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd NeuralOrchestrator"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Start Neural Orchestrator"
author = 43891218
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd NeuralOrchestrator/server"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
